h1 {
    text-align: center;
    color:rgb(110, 92, 209);
    text-decoration-style: dashed;
  }


body {
   
      background-color: #f1f1f1;

  }

 .box   {
     justify-content:center;
     text-align:center;
     height:100px;
     width:200px;
     margin-left: 35%;
     margin-right: 65%;
     padding-left: 5em;
     padding-right: 5em;
     opacity:0.5;
     background-color: aquamarine;
     z-index: 1;
     overflow-x: hidden;
     

    
 }

.footer { 

        height: 150px;
        margin: 0px;
        position: fixed;
        bottom:0;
        width: 100%;
        z-index: 1;
        text-align: center;

}

#container {
    text-align: center;
    position: relative;
    overflow: hidden;
    background-color: #c5cae6;
    padding-top: 8rem;
    padding-bottom: 12rem;
    

}

section.contact {
    position: relative;
    overflow: hidden;
    background-color: #eff7e9;
    padding-top: 3rem;
    padding-bottom: 10rem;
    text-align: center;
}
